
@{ ViewData["Title"] = "Facturas"; }
-->
@model IEnumerable<Cinemapictures.Models.Entities.Invoice>

@{ ViewData["Title"] = "Facturas"; }

<h1>Listado de Facturas</h1>

<p>
    
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Factura</a>
</p>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    
                    <a asp-action="Edit" asp-route-id="@item.InvoiceId" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.InvoiceId" class="btn btn-info btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.InvoiceId" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
